.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: clamp(3rem, 2vw, 2rem);
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .card-list {
    flex-direction: column;
  }
}